<div class="card">
  <div class="card-header">
    <p class="card-header-title">
        @{{post.author.username}}
    </p>
  </div>

  <div class="card-content">
    <div class="content">
      <p class="title is-6">
        <span id="post{{ post.id }}">{{ post.title }}</span>
      </p>
      <div>
        <span id="post{{ post.id }}">{{ post.body }}</span>
      </div>
      <br>
      <div style="display:flex; justify-content:space-between">

        <span class="tag-links">
          Tags:
          {% for tag in post.tags %}
            <a href="{{url_for('main.get_post_by_tag', id=tag.id)}}">
                #{{tag.name}}</a>
          {% endfor %}
        </span>

        <span class="category-links">
          Category:
          <a title="{{post.category.name}}"
            href="{{url_for('main.get_post_by_category', id=post.category.id)}}">
                {{post.category.name}}</a>
        </span>
      </div>
      <div>
        <time class="has-text-grey">
          {{ moment(post.timestamp).fromNow() }}
        </time>
      </div>
    </div>
  </div>
</div>
