<table class = "ui celled padded table">
  <thead>
    <tr>
      <th class="single line">
      <span>
          {% set user_link %}
          {% endset %}
          {{ user_link }} said {{ moment(post.timestamp).fromNow() }}
          <br>
      </span>
    </th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td>
     <span id="post{{ post.id }}">{{ post.body }}</span>
       <br><br>
     </span>
    </td>
    </tr>
  </tbody>
</table>
<div>
  <span class="tag-links">
    Tagged:
    {% for tag in post.tags %}
          <span><a rel="tag" href="#">{{tag.name}}</a></span>
    {% endfor %}
  </span>
</div>
<div>
  <span class="category-links">
    Category:
    <a title="{{post.category.name}}" href="#">{{post.category.name}}</a>
  </span>
</div>
<span class="category-links">







<a title="{{post.category.name}}" href="#">{{post.category.name}}</a>







