<table class = "ui celled padded table">
  <thead>
    <tr>
      <th class="single line">
      <span>
          {% set user_link %}
          {% endset %}
          {{ user_link }} said {{ moment(post.timestamp).fromNow() }}
          <br>
      </span>
    </th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td>
     <span id="post{{ post.id }}">{{ post.body }}</span>
       <br><br>
     </span>
    </td>
    </tr>
  </tbody>
</table>
<span class="tag-links">
  Tagged:
  {% for tag in post.tags %}
        <span><a rel="tag" href="#">{{tag.name}}</a></span>
  {% endfor %}
</span>
<a title="{{post.categorys.name}}" href="#">{{post.categories.name}}</a>







