{% extends "base.html" %}

{% block app_content %}
  <main id = "app" class="container">

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
      </a>
    </div>
    <label for="menu-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input type="checkbox" id="menu-toggle" class="is-hidden"/>
    <div class="nav-right nav-menu">
      <div class="container" style="padding-left:15px">
        {% for category in categories %}
          <a class="nav-item is-tab is-hidden-tablet" href="#">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>

<section class="main-content columns is-fullheight">

  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">

      {% for category in categories %}
      <li><a 
          href="#">{{category.name}}</a></li>
      {% endfor %}

    </ul>
  </aside>

  <div class="container column is-10">

    {% if g.search_form %}
      <form class="field" method="get" action="{{ url_for('main.search') }}">
        <div class="control is-expanded">
          {{ g.search_form.q(placeholder=g.search_form.q.label.text,
          class_="input") }}
        </div>
      </form>
    {% endif %}

    {% for post in posts %}
      <div class="section">
        {% include 'main/_post.html' %}
      </div>
    {% endfor %}

    {% include '/shared/_pagination.html' %}
  </div>

</section>

  </main>

    
{% endblock %}
