{% extends "base.html" %}

{% block app_content %}
  <main id = "app" class="container">

  {% include "shared/_sidenav.html" %}

    <section class="main-content columns is-fullheight">

      {% include "shared/_sidenav_aside.html" %}

      <div class="container column is-10-desktop">

        {% if g.search_form %}
          <form class="field" method="get" action="{{ url_for('main.search') }}">
            <div class="control is-expanded">
              {{ g.search_form.q(placeholder=g.search_form.q.label.text,
              class_="input") }}
            </div>
          </form>
        {% endif %}
        {% for post in posts %}
          <div class="section">
            {% include 'main/_post.html' %}
          </div>
        {% endfor %}

        {% include '/shared/_pagination.html' %}
      </div>

    </section>

  </main>
    
{% endblock %}
