{% extends "base.html" %}

{% block app_content %}
<main class="container column is-6-desktop">

  <h2 class="title">
      Register
  </h2>

  <form action="" method="post">
    {{ form.hidden_tag() }}
      <div class="field">
        {{ form.username.label(class_="label") }}
        {{ form.username(class_="input") }}
      </div>
      <div class="field">
        {{ form.email.label(class_="label") }}
        {{ form.email(class_="input") }}
      </div>
      <div class="field">
        {{ form.password.label(class_="label") }}
        {{ form.password(class_="input") }}
      </div>
      <div class="field">
        {{ form.confirm.label(class_="label") }}
        {{ form.confirm(class_="input") }}
      </div>
      {{ form.submit(class="button") }}
      {% if form.errors %}
        <div class="message is-danger" style="padding-top:20px">
          <div class="message-body">
          {% for error in form.username.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          {% for error in form.confirm.errors %}
            <span>{{ error }}</span>
          {% endfor %}
          </div>
        </div>
    {% endif%}
  </form>

  <div class="container" style="padding-top:20px">
    Already registered? <a href="{{ url_for('account.login') }}">Click to Login!</a>
  </div>

</main>
{% endblock %}
